.ui-sortable {
    max-width: 350px;
}

.row {
    row-gap: 0 !important;
}

@media only screen and (max-width: 1100px) {
    body {
        padding: 0 100px;
    }

    .col-md-4 {
        flex: 0 0 50%;
        max-width: 250px;
    }

    .row {
        row-gap: 20px !important;
    }
}

@media only screen and (max-width: 768px) {
    body {
        padding: 0 50px;
    }

    p {
        margin-bottom: 0.5em;
    }

    .col-md-4 {
        flex: 0 0 100%;
        max-width: 350px;
        padding: 0;
    }

    .row {
        row-gap: 25px !important;
    }
}

.dark-mode {
    /* background-color: black; */
    background-color: rgb(20, 32, 43);
    color: white;
}

.light {
    visibility: hidden;
    display: none;
}

.dark {
    visibility: visible;
    display: block;
}

.dark-mode .light {
    visibility: visible;
    display: block;
}

.dark-mode .dark {
    visibility: hidden;
    display: none;
}

.toggle-mode {
    background-color: transparent;
}

.toggle-mode:hover {
    background-color: transparent;
}

.row {
    align-items: center;
    justify-content: center;
}